.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d5542a;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: -2px;
    background-color: #bd4b25;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider::before {
    background-color: #d5542a;
    background-color: white;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}


.dayToggle {
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.dayName {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.toggle {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    grid-column: 2;
}