/* File: font.css */

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat/Montserrat-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('Montserrat/Montserrat-Bold.ttf') format('ttf');
}
