html, body, #root, .app{
  width: 100%;
  height: 100%;
  font-family: MontserratBold;
  color:white;
}

.app {
  display: flex;
  flex-direction: column;
}

.navbar {
  align-self: flex-start;
}

.content-wrapper {
  /*margin-top:70px; /*navbarHeight(50px) + navbarBottomMargin(20px) */
  position: relative;
  flex-grow: 1;
}

.footer {  
  flex: 0 1 100px;
  align-self: flex-end;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/